<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="index.css" />
    <script src="index.js" defer></script>
    <title>Brighter API</title>
  </head>
  <body>
    <div class="layout">
      <section class="hero">
        <h1>Brighter API</h1>
        <h2>An open-source REST API.</h2>
        <p>Access data about the game <a href="https://www.brightershores.com/">Brighter Shores</a>, a new MMO from the creator of Runescape.</p>
        <nav>
          {{#if prod}}
          <a href="https://brighterapi.com/api">View the Docs</a>
          {{else}}
          <a href="http://localhost:3000/api">View the Docs</a>
          {{/if}}
          <a href="https://github.com/jrbarnhart/brighter-api">View Github</a>
        </nav>
      </section>
      <main>
        <label for="demo-input">Live Demo:</label>
        {{#if prod}}
        <form id="prod-form">
          <div class="demo-input-container">
            <p>https://brighter-api.com/</p>
            <input type="text" id="demo-input" />
          </div>
          <button type="submit">Submit</button>
        </form>
        {{else}}
        <form id="dev-form">
          <div class="demo-input-container">
            <p>http://localhost:3000/</p>
            <input type="text" id="demo-input" />
          </div>
          <button type="submit">Submit</button>
        </form>
        {{/if}}
        <p>Returned Data:</p>
        <p id="returned-data">Data</p>
      </main>
    </div>
  </body>
</html>
